Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
data_list = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(data_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans - A DataFrame in pandas is a 2D, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a relational database or an Excel spreadsheet. Each column in a DataFrame can be of a different data type (e.g., integer, float, string).

On the other hand, a Series is a 1D labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). A Series can be thought of as a single column of a DataFrame.

Key Differences:

a. Dimensions:

1. Series: One-dimensional.

2. DataFrame: Two-dimensional.

b. Structure:

1. Series: Contains only a single list of data with an associated index.

2. DataFrame: Contains multiple Series (i.e., multiple columns) with potentially different data types, along with row and column indices.

c. Usage:

1. Series: Used for simple, single-dimensional data that can be accessed via a single index.

2. DataFrame: Used for more complex data analysis, manipulation, and visualization tasks involving multiple dimensions.

In [15]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df,'\n')
print(df['Gender'])

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

0    Female
1      Male
2    Female
Name: Gender, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans - Some common functions and their use cases:

1. head(n): Returns the first n rows of the DataFrame.

2. tail(n): Returns the last n rows of the DataFrame.

Example: Use head() to preview the first few rows of a large dataset.
info() and describe():

3. info(): Provides a summary of the DataFrame, including data types and non-null values.

4. describe(): Generates descriptive statistics for numerical columns.

Example: Use info() to understand the structure of a DataFrame and identify missing values.

5. drop():

Removes rows or columns by specifying labels.

Example: Use drop() to remove irrelevant columns before analysis.

6. dropna() and fillna():

dropna(): Removes rows with missing values.

fillna(value): Replaces missing values with a specified value.

Example: Use fillna() to fill missing values with the mean or median of the column.

7. loc[] and iloc[]:

loc[]: Accesses a group of rows and columns by labels or a boolean array.

iloc[]: Accesses a group of rows and columns by integer positions.

Example: Use loc[] to filter rows based on column values.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans - 1. Series:

A pandas Series is mutable, meaning its elements can be changed after it has been created. You can modify individual elements, add new elements, or remove existing ones.

2. DataFrame:

A pandas DataFrame is also mutable. You can modify values in specific cells, add or remove columns and rows, or even change the structure of the DataFrame by reindexing or reshaping operations.

3. Panel (deprecated):

Panels were a 3D data structure in pandas, but they have been deprecated since new version in favor of using MultiIndexing with DataFrames or other data structures. Historically, Panels were also mutable, allowing operations similar to Series and DataFrames.

In [13]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4])

# Modifying an element
s[2] = 10

# Adding a new element
s[4] = 5

# Removing an element
s = s.drop(1)

# Creating a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c']
})

# Modifying a value
df.loc[1, 'A'] = 10

# Adding a new column
df['C'] = [True, False, True]

# Removing a column
df = df.drop(columns=['B'])

print(s,'\n')
print(df)

0     1
2    10
3     4
4     5
dtype: int64

    A      C
0   1   True
1  10  False
2   3   True

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'])
s3 = pd.Series([True, False, True, False])

df = pd.DataFrame({ 'Column_A': s1, 'Column_B': s2, 'Column_C': s3 })

print(df)

   Column_A Column_B  Column_C
0         1        a      True
1         2        b     False
2         3        c      True
3         4        d     False